@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
/*P치gina Inicial*/

/* General */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #f3f3f3;
    color: #000;
    overflow-x: hidden;
}

/* Nav */

nav {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 0;
    justify-content: space-between;
    padding: 0px 50px;
}

nav img {
    width: 50px;
    height: 50px;
}

.nav-izq {
    font-family: "Climate Crisis", sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-izq a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
}

.nav-der {
    display: flex;
    align-items: center;
    gap: 35px;
}

.btn-nav-der {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 23px;
    font-weight: 700;
    padding: 7px 40px;
    color: white;
    background-color: #000;
    border-radius: 50px;
    text-decoration: none;
}

.nav-fixed {
    position: sticky;
    top: 0;
    z-index: 999999;
}


@media (max-width: 1600px) {
    .nav-izq {
        font-size: 28px;
        gap: 40px;
    }

    .nav-der {
        gap: 25px;
    }

    nav img {
        width: 45px;
        height: 45px;
    }

    .btn-nav-der {
        font-size: 22px;
        padding: 6px 35px;
    }

    nav {
        padding: 0 40px;
    }
}

@media (max-width: 1200px) {
    .nav-izq {
        font-size: 26px;
        gap: 30px;
    }

    .nav-der {
        gap: 20px;
    }

    nav img {
        width: 40px;
        height: 40px;
    }

    .btn-nav-der {
        font-size: 20px;
        padding: 6px 30px;
    }

    nav {
        padding: 0 30px;
    }
}

@media (max-width: 768px) {
    .nav-izq {
        font-size: 22px;
        gap: 20px;
    }

    .nav-der {
        gap: 15px;
    }

    nav img {
        width: 32px;
        height: 32px;
    }

    .btn-nav-der {
        font-size: 18px;
        padding: 5px 25px;
    }

    nav {
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    .nav-izq {
        font-size: 20px;
        gap: 15px;
    }

    .btn-nav-der {
        display: none;
    }

    nav {
        padding: 0 15px;
    }
}



/* Paneles laterales */
.panel-izq,
.panel-der {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 280px;
    max-width: 86vw;
    background: #fff;
    padding: 50px;
    overflow: auto;
    z-index: 1000;

    opacity: 1;

    transition:
        transform .35s ease,
        opacity .35s ease,
        visibility 0s linear .35s;
}

.panel-izq {
    left: 0;
    transform: translateX(-100%);
}

.panel-der {
    right: 0;
    transform: translateX(100%);
}

.panel-izq.active,
.panel-der.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition:
        transform .35s ease,
        opacity .35s ease;
}

.panel-izq h2,
.panel-der h2 {
    font-family: "Climate Crisis", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.panel-izq h5,
.panel-der h5 {
    font-family: "Bungee Inline", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.panel-der p {
    font-family: "Bungee Inline", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.Btn-Carrito {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Btn-Pagar {
    background-color: #505050;
    color: white;
    font-family: "Climate Crisis", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    transition: all 0.2s;
}

.Btn-Pagar:hover {
    background-color: #2b2b2b;
}

.panel-izq ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.panel-izq li {
    font-family: "Bricolage Grotesque", sans-serif;
}

.panel-izq a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.panel-izq a:hover {
    text-decoration: underline;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#overlay.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 900px) {

    .panel-izq,
    .panel-der {
        width: 240px;
        padding: 40px;
    }

    .panel-izq h2,
    .panel-der h2 {
        font-size: 26px;
    }

    .panel-izq a {
        font-size: 18px;
    }

    .Btn-Pagar {
        font-size: 14px;
        padding: 9px 16px;
    }
}

@media (max-width: 600px) {

    .panel-izq,
    .panel-der {
        width: 200px;
        padding: 30px;
    }

    .panel-izq h2,
    .panel-der h2 {
        font-size: 24px;
    }

    .panel-izq a {
        font-size: 16px;
    }

    .panel-der p {
        font-size: 14px;
    }

    .Btn-Pagar {
        font-size: 13px;
        padding: 8px 14px;
    }
}

@media (max-width: 400px) {

    .panel-izq,
    .panel-der {
        width: 170px;
        padding: 20px;
    }

    .panel-izq h2,
    .panel-der h2 {
        font-size: 20px;
    }

    .panel-izq a {
        font-size: 15px;
    }

    .panel-der p {
        font-size: 13px;
    }

    .Btn-Pagar {
        font-size: 12px;
        padding: 7px 12px;
    }
}

/* Banner */
.Banner-Principal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin: 0;
}

.Banner-Principal img {
    width: 678px;
}

@media (max-width: 1000px) {
    .Banner-Principal img {
        width: 500px;
    }
}

@media (max-width: 700px) {
    .Banner-Principal img {
        width: 380px;
    }
}

@media (max-width: 450px) {
    .Banner-Principal img {
        width: 280px;
    }
}


/*Carrousel*/

#Carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Carrousel h6 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.Carrousel-Flechas {
    display: flex;
    align-items: center;
}

.Carrousel-Cont {
    position: relative;
    max-width: 1050px;
    overflow: hidden;
}

.carrousel {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    transition: transform 0.5s ease;
    padding: 10px;
}

.item {
    flex: 0 0 calc(25% - 12px);
    border: 1px solid #ccc;
    height: 142px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
}

.item img {
    width: 100%;
    height: 142px;
    border-radius: 10px;
}

#btnDer,
#btnIzq {
    color: #D9D9D9;
    font-size: 35px;
}

@media (max-width: 1200px) {
    .Carrousel-Cont {
        max-width: 850px;

    }

    .item,
    .item img {
        height: 110px;
    }
}

@media (max-width: 900px) {
    .Carrousel-Cont {
        max-width: 700px;
    }

    #btnDer,
    #btnIzq {
        font-size: 30px;
    }
}


@media (max-width: 700px) {
    .Carrousel-Cont {
        max-width: 520px;
    }

    .item,
    .item img {
        height: 100px;
    }

    .item {
        flex: 0 0 calc(50% - 12px);
    }

    #btnDer,
    #btnIzq {
        font-size: 28px;
    }
}

@media (max-width: 500px) {
    .Carrousel-Cont {
        max-width: 330px;
    }

    .item,
    .item img {
        height: 50px;
    }

    #btnDer,
    #btnIzq {
        font-size: 24px;
    }
}

/*Seccion de ropa de Index*/
#Ver-todo {
    text-align: center;
}

#Ver-todo a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.372);
    color: black;
    text-decoration: none;
}

#Seccion-Productos {
    max-width: 1400px;
    margin: auto;
    padding: 40px 20px;
}

/* Footer */

footer {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Footer-Cont {
    max-width: 1450px;
    width: 100%;
    margin: auto;
    padding: 50px;
}

.info-footer {
    display: flex;
    flex-direction: row;
    gap: 700px;
    align-items: center;
}

.direccion {
    padding: 0px 25px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: "Bowlby One SC", sans-serif;
}

.pais p {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.pais {
    padding: 4px 30px 5px 30px;
    border: 5px solid white;
    border-radius: 60px;
    color: white;
}

.Footer-Contacto {
    font-family: "Bricolage Grotesque", sans-serif;
    display: flex;
    flex-direction: row;
    padding: 0px 80px;
    color: white;
    gap: 700px;
    align-items: center;
}

.redes img {
    width: 40px;
    margin: 10px;
}

.redes div {
    display: flex;
    align-items: center;
    margin-bottom: -40px;
}

.redes {
    font-size: 27px;
}

.logo-footer img {
    width: 300px;
}

.copyright {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 200;
    padding: 0px 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
}

footer hr {
    width: 100%;
    max-width: 1450px;
    margin: 20px auto;
}

@media (max-width: 1600px) {

    .Footer-Cont {
        max-width: 1200px;
        padding: 40px 30px;
    }

    .info-footer {
        gap: 400px;
    }

    .Footer-Contacto {
        gap: 450px;
    }

    footer hr {
        max-width: 1200px;
    }

    .logo-footer img {
        width: 260px;
    }
}

@media (max-width: 1300px) {

    .Footer-Cont {
        max-width: 1000px;
    }

    .direccion {
        padding-left: 100px;
    }

    .info-footer {
        gap: 300px;
    }

    .Footer-Contacto {
        padding: 100px;
        gap: 400px;
    }

    footer hr {
        max-width: 900px;
    }
}


@media (max-width: 1100px) {

    .pais {
        padding: 10px 40px;
    }

    .Footer-Cont {
        max-width: 700px;
        padding: 30px 20px;
    }

    .info-footer,
    .Footer-Contacto {
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .Footer-Contacto {
        padding: 15px;
    }

    footer hr {
        max-width: 600px;
    }

    .logo-footer img {
        width: 230px;
    }

    .copyright {
        justify-content: center;
        padding: 10px 0;
    }
}

@media (max-width: 800px) {

    .Footer-Cont {
        padding: 25px 15px;
        max-width: 500px;
    }

    .info-footer,
    .Footer-Contacto {
        text-align: center;
        gap: 20px;
    }

    .direccion {
        padding: 0;
        padding-left: 10px;
    }

    footer hr {
        max-width: 300px;
    }
}

@media (max-width: 600px) {
    .Footer-Cont {
        max-width: 300px;
        padding: 25px 15px;
    }

    .info-footer,
    .Footer-Contacto {
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .direccion {
        font-size: 16px;
    }

    .pais {
        padding: 4px 20px;
        border-width: 3px;
    }

    .pais p {
        font-size: 18px;
    }

    .redes {
        font-size: 20px;
    }

    .redes img {
        width: 30px;
    }

    .logo-footer img {
        width: 200px;
        padding-top: 40px;
    }

    footer hr {
        max-width: 350px;
    }
}

/*P치gina Artista*/

#Pagina-Artista {
    max-width: 1400px;
    margin: auto;
    padding: 40px 20px;
}

#Pagina-Artista h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}

.Banner-Artista img {
    width: 1400px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 40px;
}

#Seccion-Productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

#Cont-Producto {
    display: flex;
    flex-direction: column;
}

#Cont-Producto a {
    text-decoration: none;
    color: black;
}

#Cont-Producto img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 15px;
    border: 1px solid #000000;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
}

#Celda-producto {
    display: flex;
    text-align: left;
    flex-direction: column;
}

#Info-Producto a,
#Info-Producto p {
    text-decoration: none;
    color: black;
    display: block;
}

#Info-Producto {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 5px;
}

#nombre-p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#info-p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#precio-p {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

@media (max-width: 1023px) and (min-width: 768px) {
    #Seccion-Productos {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    #Cont-Producto img {
        width: 180px;
        height: 180px;
    }

    #nombre-p,
    #info-p {
        font-size: 18px;
    }

    #precio-p {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    #Seccion-Productos {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    #Cont-Producto {
        align-items: center;
    }

    #Cont-Producto img {
        width: 160px;
        height: 160px;
    }

    #nombre-p,
    #info-p {
        font-size: 16px;
        text-align: center;
    }

    #precio-p {
        font-size: 20px;
        text-align: center;
    }

    #Celda-producto {
        align-items: center;
    }

    #Info-Producto {
        padding-left: 0;
        text-align: center;
    }
}

@media (min-width: 1440px) {
    #Seccion-Productos {
        grid-template-columns: repeat(4, 1fr);
        gap: 45px;
    }

    #Cont-Producto img {
        width: 230px;
        height: 230px;
    }

    #precio-p {
        font-size: 28px;
    }
}

/*P치gina Registro*/

#Inicio-Sesion {
    background-image: url(../img/b369cc0516b45cb41db38e25ba185cf47e11f77c.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px;
    font-family: "Bricolage Grotesque", sans-serif;
}

#Cont-Login {
    width: 100%;
    background-color: #f0eeee9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}

#Login-Form label {
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
}

#Login-Form input {
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 2px;
}

#Login-Form {
    display: flex;
    flex-direction: column;
}

#Btn-Login {
    width: 150px;
    background: #000;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 5px;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
    margin: 20px auto 0 auto;
}

#Btn-Login:hover {
    background: #292929;
}

#Cont-Login p a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.299);
}

#Cont-Login p {
    margin-top: 10px;
    margin-bottom: 25px;
}

#Separador-Login {
    width: 80%;
    border-top: 2px solid black;
}

#Otros-Login {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 20px;
}

#Otros-Login button {
    width: 530px;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    background: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease;
}

#Otros-Login button:hover {
    transform: scale(1.02);
}

#Otros-Login button img {
    width: 20px;
}

#Otros-Login button a {
    text-decoration: none;
    color: #000;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
    font-size: 17px;
}

/*P치gina de producto*/

#Detalle-Producto-Contenedor {
    background-color: #f0eeee;
    padding: 100px;
}

.info-principal-producto {
    max-width: 1400px;
    margin: auto;
    display: flex;
    gap: 80px;
    padding: 40px;
}

.imagen-producto-wrapper img {
    width: 650px;
    border: 1px solid #000000;
    border-radius: 15px;
    box-shadow: 10px 15px 6px rgba(0, 0, 0, 0.12);
}

.datos-producto-acciones {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#nombre-p-detalle,
#info-p-detalle {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    font-size: 48px;
    margin: 0;
    padding: 0;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.12);
}

#precio-p-detalle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 55px;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.12);
}

.acciones-producto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.Btn-Comprar-Producto{
    font-family: "Bowlby One SC", sans-serif;
    font-size: 30px;
    padding: 10px 50px;
    border-radius: 60px;
    background-color: #989898;
    color: #f0eeee;
    border: none;
    cursor: pointer;
    margin: 60px 0px 0px 40px;
}

.agregar-carrito-texto {
    font-size: 15px;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.12);
    margin: 0%;
    padding: 0;
}